* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

h1{
    text-align: center;
    padding: 1rem;
}

.btn{
    background-color: rgb(255, 73, 41);
    margin: 1rem 0 1rem 0;
    border: 1px solid rgb(0, 0, 0)
}
.btn:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 73, 41);
    color: rgb(255, 73, 41)
}

#container{
    margin: 20px;
}